body{
    margin: 0;
    color: #333;
    font-family: Verdana, sans-serif;
    margin: 0;
}

header{
    background-color: skyblue;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 auto;
}

.container{
    /*background-color: white;*/
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    max-width: 500px;
} 

.icon{
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;

}

.icon img {
    border-radius: 40%;
    border-width: 4px;
    border-color: white;
    border-style: solid;
}

.info {
    text-align: center;
}

a:link {
    color: gray;
}
a:visited {
    color: rgb(196, 61, 61);
}
a:hover {
    color: rgb(241, 94, 126);
}
a:active {
    color: rgb(16, 13, 190);
}

li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

ul {
    padding-left: 0;
}



/*mainページ*/
main {
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

h1.profile {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

h3 {
    border-bottom: solid 3px dimgray;
}

/*profileページ */


.profile-block1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    

}
.profile-photo1 {
    margin-right: 25px;
}

.profile-text1 {
    width: 100%;
}

.profile-block2 {
    display: flex;
    margin-top: 50px;
    margin-bottom: 200px;
}

.profile-text2 {
   margin-right: 25px;
}



/*studyページ*/


.study-block {
    display: flex;
    margin-bottom: 200px;
}


.study-photo {
    margin-right: 25px;
}

/*Contactページ*/
.contact-block {
    margin-bottom: 100px;
}
.contact {
    margin-top: 10px;
}

input[name="information"] {
    margin-bottom: 10px;
    width: 15em;
}

textarea {
    width: 25em;
    height: 5em;
}

.contact-info {
    margin-top: 30px;
}

/*フッター*/
.footer {
    padding-left: 20px;
    background-color: skyblue;
}

/* スマホ向け */

@media (max-width: 767px) {
    .container {
        margin: 30px auto;
        width: 300px;
        display: block;
    }

    .icon {
        text-align: center;
    }

    .info ul {
        display: block;
    }


    .photo-frame {
        display: block;
    }

    h1.profile {
        text-align: left;
        margin-left: 10px;
    }

    /*mainページ*/
    main {
        width: 100%;
    }
    .profile-block1 {
        display: block;

    }

    .profile-photo1 {
        margin-right: 0;
        width: 100%;

    }

    .profile-text1 {
        max-width: 100%;
        margin: 0;
    }

    .profile-block2 {
        display: block;

    }

    .profile-photo2 {
        margin-right: 0;
        width: 100%;

    }

    .profile-text2 {
        max-width: 100%;
    }

    .study-block {
        display: block;

    }

    .study-photo {
        margin-right: 0;
        width: 100%;

    }

    .study-text{
        max-width: 100%;
    }



    

    
}
